  <nav>
    <a href="/">Home </a>
    <a href="/breaches">Breaches </a>
    <a href="/how">How</a>
    <a href="/protect-yourself">Protect Yourself </a>
    <a href="/go-in-peace">Parting Words </a>
  </nav>