<%- include('partials/header.ejs') %>

<body>

  <header>
    <h1>Online Privacy</h1>
    <h3>Some Famous Breaches</h3>
  </header>

<%- include('partials/nav.ejs') %>
  
  <img src="images/thief.jpg" alt="image of a thief holding a laptop">
  <div>
    <p>
      So why should you care if companies are collecting your information and tracking your online activites? You may
      not be giving out your address, date of birth, and Social Security number to anyone online, but your information
      is valuable. It is so valuable that the companies collecting it are selling it, and they have no trouble finding
      entities willing to pay. Beyond the fact that a third party is financially benefitting from information about you,
      without the knowledge of who knows what, you have no control over your information, and may not know when it falls
      into the wrong hands. While some entities are willing to pay for data, others are more than happy to steal it.
      Here is a rundown of some of the largest data breaches to date, and how many people were affected.
    </p>
    <img src="images/yahoologo.jpg" alt="yahoo logo">
    <p>
      Yahoo accounts were hacked in August 2013, but kept that news under wraps until they were in negotiations to sell
      to Verizon in 2016. Initial estimates were that around 500 million user accounts were compromised, but as
      investigations continued, that number had been increased to around 3 billion accounts as of 2017. Data stolen
      ranged from contents of email and account information, to users' security questions and answers. Even if the
      company used no third-party tracking and data collection services, the compromised information that users had
      willingly provided through use of the service left many at risk for identity theft.
    </p>
    <img src="images/aadaharlogo.jpg" alt="aadahar logo">
    <p>
      Aadhaar was the world's largest biometric database as of March 2018. It held the personal data of more than a
      billion
      Indian citizens. The system suffered a data leak that exposed names, bank account information, and personal
      identity numbers of its users.
    </p>
    <img src="images/fblogo.jpg" alt="facebook logo">
    <img src="images/calogo.jpg" alt="cambridge analytica logo">
    <p>
      Facebook has been plagued by breaches in the past decade. Many people willingly share non-public details about
      their lives and whereabouts on the social media site. One of the most infamous cases of data misuse involved
      Cambridge Analytica. The company created an app which contained a survey that spread on Facebook. The questions in
      the survey were used to build a psychological profile on the user, and the app itself collected information on the
      user as well as their friends. Cambridge Analytica in turn used that information to provide analytical assistance
      to political campaigns and to influence behaviors. Although the Cambridge Analytica breach was widely covered by
      news outlets, it was not the only one. You can read about similar Facebook breaches <a
        href="https://www.upguard.com/breaches/facebook-user-data-leak">here</a>
    </p>
  </div>

  <br />
  <br />
      Sources:
    <br />
    <a
      href="https://www.pewresearch.org/short-reads/2019/11/15/key-takeaways-on-americans-views-about-privacy-surveillance-and-data-sharing/"><cite>Key
        takeaways on Americans’ views about privacy, surveillance and data-sharing</cite></a>
    <br />
    <a href="https://www.upguard.com/blog/biggest-data-breaches"><cite>The 70 Biggest Data Breaches of All
        Time</cite></a>
    <br />

<%- include('partials/footer.ejs') %>


</body>


</html>