<%- include('partials/header.ejs') %>

<body>


   <header>
    <h1>Online Privacy</h1>
    <h3>Parting Words</h3>
  </header>
  <%- include('partials/nav.ejs') %>
  <p>
    Although there are a lot of bad actors out there, looking to steal your information, if you are vigilant and aware of the lastest tactics, there is hope.  Enjoy an inspirational quote, and have a great day!
  </p>
  <br>
  <br>
  <img src="/images/scroll.jpeg" alt="image of parchment scroll" id= "scroll">
  <h2 id="quote"> <%= inspQuote %>  </h2>
  <br>
  <br>


<%- include('partials/footer.ejs') %>
  
</body>


</html>