<%- include('partials/header.ejs') %>

<body>
  <header>
    <h1>Online Privacy</h1>
    <h3>The Basics</h3>
  </header>
<%- include('partials/nav.ejs') %>
  <br />
  <br />
  <img src="images/privacy.jpg" alt="image depiciting privacy">
  <br />
  <br />
  <div>
    <p>
      Everything you do online leaves a record. That record is being collected and compiled by third parties, and
      reveals a surprising amount information about you. In the hands of businesses, it can be used to manipulate your
      feelings or influence your behavior. In the wrong hands, it can be
      dangerous.
    </p>
    <p>
      Your social media activity can reveal personal details such as your friends, organizations you belong to, or your
      likes
      and
      dislikes.
      Your navigation searches
      reveal the location of your home, work, school, family members, and places you visit frequently. Your searches can
      reveal what your are thinking, your emotions, and mental state.
    </p>
    <p>
      Technology has given anyone who wishes the ability to access, aggregate, and analyze data quickly and more
      efficiently than ever before. In light of this, many are looking for ways to protect their privacy.
    </p>
    <p>
      Most Americans feel they cannot avoid data collection online, but few feel they understand what is done with
      that information.
    </p>
  </div>


  <br />
  <br />

<%- include('partials/footer.ejs') %>


</body>


</html>