<%- include('partials/header.ejs') %>

<body>


   <header>
    <h1>Online Privacy</h1>
    <h3>How to Protect Yourself</h3>
  </header>

  <%- include('partials/nav.ejs') %> 
  <br />
  <br />
  <img src="images/protect.jpg" alt="image of a hacker stuck behind code">
  <br />
  <br />
  <div>
    <p>
      Data is being harvested about you wherever you go online, seemingly with or without your consent. The situation
      can leave a person feeling helpless, but there are things you can do:
    </p>
    <ul>
      <li>
        <mark>Use a Password Manager</mark> <br /> With an increasing number of passwords to remember across a myriad of
        websites,
        many
        people are resorting to a dangerous habit- reusing passwords. A password manager will keep track of all of your
        passwords in an encrypted "vault" and enter them on the websites you visit, as long as you remember your master
        password.
      </li>
      <li>
        <mark>Clear your cookies often, and turn on private browsing whenever possible</mark> <br /> Many people are
        willing to give
        up some
        privacy for convenience, so this is often a balancing act. Clearing cookies will require you to sign in to the
        pages you visit more often, likely every time if you turn on private browsing, but clearing those cookies means
        exposing less data to those who are looking to steal it.
      </li>
      <li>
        <mark>If it sounds too good to be true, pass.</mark> <br /> Many people are now rightfully suspicious of the
        flashing "YOU
        HAVE WON!!" image that will steal your information or download malware the instant you click it, but there are
        many less obvious tricks out there. Be on your guard. If you are being offered the chance to win something in
        exchange for your information, the odds are probably better that you will get struck by lightening than win.
      </li>
      <li>
        <mark>Try to find and remove your information that is already out there.</mark> <br /> Public records
        information is being
        collected by Data Brokers and "People-Finder" sites constantly. Keeping your information off of these sites
        requires action and is a constant effort. If you are up to the task, <a
          href="https://computer.howstuffworks.com/internet/tips/information-about-me-online-.htm">this site</a>
        provides a guide to the process for you.
      </li>
    </ul>
  </div>

  <br />
  <br />

  Sources:
    <br />
    <a href="https://www.nytimes.com/guides/privacy-project/how-to-protect-your-digital-privacy"><cite>How To
        Protect
        Your Digital Privacy</cite></a>
    <br />
    <a href=https://consumer.ftc.gov/articles/how-protect-your-privacy-online><cite>
        How To Protect Your Privacy Online</cite></a>
    <br />
    <a href=https://computer.howstuffworks.com/internet/tips/information-about-me-online-.htm><cite>How Can I
        Find Out
        What Information Exists About Me Online?</cite></a>
    <br />

  <%- include('partials/footer.ejs') %>


</body>


</html>